{% from '../components/icons.njk' import icon as icon with context %}

{% macro input(name, type='text', placeholder='', iconType='', iconClassList='', label='') %}
    <div class="input input-{{ type }}">
        {% if iconType %}
            {{ icon(iconType, iconClassList) }}
        {% endif %}
        {% if label %}
            <label for="{{ name }}">{{ label | capitalize }}</label>
        {% endif %}
        <input type="{{ type }}" name="{{ name }}" id="{{ name }}" placeholder="{{ placeholder }}">
    </div>
{% endmacro %}

{% macro submit(name, value='Submit', iconType='', iconClassList='') %}
    <div class="input input-submit">
        {% if iconType %}
            <label for="{{ name }}">
                {{ icon(iconType, iconClassList) }}
            </label>
        {% endif %}
        <input type="submit" name="{{ name }}" id="{{ name }}" value="{{ value }}">
    </div>
{% endmacro %}