<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% import './components/forms.njk' as forms with context %}
    <header>
        {{ lang.welcome }} {{ school.name }}
    </header>
    <main>
        <form>
            {{ forms.input("username", placeholder=lang.forms.examples.username, label=lang.forms.username) }}
            {{ forms.input("password", placeholder=lang.forms.password, type="password", label=lang.forms.password) }}
            {{ forms.submit("signin-submit", value=lang.forms.submit) }}
        </form>
    </main>
    <div class="cookies">
        
    </div>
    <div class="languages">
        
    </div>
</body>
</html>