.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em;
    transition: .3s;
}

.input * {
    font-size: min(3vw, 16pt);
    color: white;
    background: transparent;
    border: 0;
}

.input label {
    margin: .5em;
}

.input input {
    background: white;
    padding: .5em;
    transition: border-radius .3s, padding 0s;
}

.input input:hover {
    border-radius: .5em;
}

.input input:focus {
    padding: .4em;
    border: .1em solid tomato;
    outline: 0 none transparent;
}

.input-submit {
    font-size: min(3vw, 16pt);
    padding: .5em;
    background: tomato;
    transition: .3s;
    cursor: pointer;
}

.input-submit:hover {
    border-radius: .8em;
}

.input-submit input {
    background: transparent;
    cursor: pointer;
}