@import 'variables.css';
@import 'scaling.css';
@import 'fonts.css';
@import 'icons.css';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background-size: contain;
    color: var(--lightest);
}

header {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

form {
    background: var(--trans-dark);
    padding: 1em;
    width: fit-content;
}

.input {
    display: grid;
    grid-template-areas: 'icon text' 'input input';
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 1em;
    transition: .3s;
}

.input * {
    font-size: 1.25rem;
    color: var(--lightest);
    background: transparent;
    border: 0;
}

.input .icon {
    grid-area: icon;
    height: 1.25rem;
    margin: auto 0;
}

.input label {
    display: flex;
    margin: auto .5em;
    grid-area: text;
}

.input input {
    color: var(--darkest);
    background: var(--lightest);
    margin: auto 0;
    padding: .5em;
    transition: border-radius .3s, padding 0s;
    grid-area: input;
}

.input input:hover {
    border-radius: .5em;
}

.input input:focus {
    padding: .35em;
    border: .15em solid var(--primary);
    outline: 0 none transparent;
}

.input-submit {
    background: var(--primary);
    font-size: 1.25rem;
    padding: .5em;
    transition: .3s;
    cursor: pointer;
    /* display: grid;
    grid-template-areas: 'icon text';
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr; */
    display: flex;
    justify-content: center;
}
.input-submit > label {
    height: 1.25em;
    width: 1.25em;
    grid-area: icon;
    margin: auto 0;
}

.input-submit:hover {
    border-radius: .8em;
}

.input-submit input {
    color: var(--lightest);
    background: transparent;
    cursor: pointer;
    grid-area: text;
    margin: auto .25rem;
}

footer {
    width: 80vw;
    text-align: center;
}

a {
    color: var(--lightest);
}

.languages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.language {
    margin: .5em 1em;
}