<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ lang.titles.schoollabs }}</title>
    <link rel="stylesheet" type="text/css" href="/css/signIn.css">
</head>
<body>
    {% import '../components/forms.njk' as forms with context %}
    <header>
        {{ lang.welcome }} {{ school.name }}!
    </header>
    <main>
        <form>
            {{ forms.input("username", placeholder=lang.forms.examples.username, label=lang.forms.username, iconType="user", iconClassList="icon-lightest") }}
            {{ forms.input("password", placeholder=lang.forms.password, type="password", label=lang.forms.password, iconType="password", iconClassList="icon-lightest") }}
            {{ forms.submit("signin-submit", value=lang.forms.signIn, iconType="login", iconClassList="icon-lightest") }}
        </form>
    </main>
    <footer>
        <div class="cookies">
            <p>
                {{ lang.cookies.summary }} <a href="{{ lang.cookies.policyLink }}">{{ lang.cookies.readMore }}</a>
            </p>
        </div>
        <div class="languages">
            {% include "../templates/languageLinks.njk" %}
        </div>
    </footer>

    <script src="/scripts/signIn.js"></script>
    <script src="/scripts/include.js"></script>
    <script src="/scripts/loadSettings.js"></script>
    <script>
        setBackgroundImage("/images/{{ school.background }}")
    </script>
</body>
</html>